# Obrigatorios
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=@seu_grupo_paintball

# Opcionais
AFFILIATE_TAG=sua_tag_ml
ML_CATEGORY=MLB1276
ML_PAGES=3
ML_MAX_PAGES=15
MAX_OFFERS_PER_RUN=10
ML_PROMOTION_TYPE=
SEND_DELAY_SECONDS=30
ML_KEYWORDS=paintball,marcador paintball,mascara paintball,bola paintball,bolinha paintball,equipamento paintball,kit paintball,carregador paintball,cilindro co2,calça paintball,luva paintball,colete paintball,gatilho paintball,aguia paintball,spyder,tippmann,dye,planet eclipse,kingman,azodin,empire,municao paintball,hopper,loader,speedball,woodsball,hpa,co2 paintball,pod pack,barrel paintball,squeegee,chronograph,barrel sock,air tank,dragon paintball,eco field,airsoft,replica airsoft,aeg,gbb,m4 airsoft,ak47 airsoft,mp5 airsoft,sniper airsoft,pistol airsoft,g17,1911 airsoft,dmr,colete tatico,oculos airsoft,mascara airsoft,bbs,municao airsoft,carregador airsoft,coldre,cqb,milsim,hop up,gearbox,bota tatica,balaclava,speed loader,tracer,capacete airsoft,green gas,red dot,luneta airsoft,lanterna tatica,granada airsoft,bateria lipo,co2 12g,cx5,recarga co2,bolter,bolt action,camuflagem tatica

# Shopee (opcional, se nao configurar so busca ML)
SHOPEE_APP_ID=seu_app_id
SHOPEE_APP_SECRET=seu_app_secret
SHOPEE_MAX_OFFERS=10
SHOPEE_KEYWORDS=paintball,marcador paintball,mascara paintball,bola paintball,bolinha paintball,equipamento paintball,kit paintball,carregador paintball,cilindro co2,calça paintball,luva paintball,colete paintball,gatilho paintball,aguia paintball,spyder,tippmann,dye,planet eclipse,kingman,azodin,empire,municao paintball,hopper,loader,speedball,woodsball,hpa,co2 paintball,pod pack,barrel paintball,squeegee,chronograph,barrel sock,air tank,dragon paintball,eco field,airsoft,replica airsoft,aeg,gbb,m4 airsoft,ak47 airsoft,mp5 airsoft,sniper airsoft,pistol airsoft,g17,1911 airsoft,dmr,colete tatico,oculos airsoft,mascara airsoft,bbs,municao airsoft,carregador airsoft,coldre,cqb,milsim,hop up,gearbox,bota tatica,balaclava,speed loader,tracer,capacete airsoft,green gas,red dot,luneta airsoft,lanterna tatica,granada airsoft,bateria lipo,co2 12g,cx5,recarga co2,bolter,bolt action,camuflagem tatica
